*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 18px 80px;
    box-shadow: 1px 1px 1px 1px coral;
    background-color:burlywood;

}


/* start of description */
.home {
    background-color:#56CBF9 ;
    margin-top: 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: blueviolet;
}

.description h1{
    color:palevioletred;
    font-size: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    margin-top: 4rem;
}

.description p{
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    color:yellow;

}

.description ol{
    font-size: 1.5rem;
    margin-left: 100px;
    margin-top: 3rem ;
}
/* end of description */

/* start of age calculation */
.age {
    background-color: #7FBEEB;
}

.age h2{
    font-size: 30px;
    color:#fff;
    font-weight: 500;
    text-align: center;
}

.age .inputBox{
    position: relative;
    width: 50%;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 300px;
}

.ageform .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px #531CB3;
    outline: none;
    resize: none;
}

.ageform .inputBox  label{
    position: absolute;
    left: 0;
    font-size: 20px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #000;
}

.ageform .inputBox input:focus ~ label,
.ageform .inputBox input:valid ~ label,
.ageform .inputBox input:focus ~ label,
.ageform .inputBox input:valid~ label
{
    color:red;
    font-size: 12px;
    transform: translateY(-20px);
}

.ageform .inputBox input[type="submit"]{
    width: 100px;
    background: brown;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;

}

.ageform .radio{
    text-align: center;
    position: relative;
    
}

.ageform .radio label{
    font-size: 13px;
}

.ageform .button{
    text-align: center;
}
/* enf of age calculation  */